<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <title>Admin | Users</title>
    <style>
    .background {
        background: linear-gradient(to bottom right, #0970C0, #00AD9D);
        min-height: 1000px;
    }
    .margin {
        margin: 20px;
    }
    .btn {
        margin-bottom: 20px;
    }
    .button {
        text-align: center;
        color: white;
    }
    .margin-sides {
        margin: 0px 30px;
    }
    .btn-link {
        border:none;
        outline:none;
        background:none;
        cursor:pointer;
        color:#0970C0;
        padding:0;
        font-family:inherit;
        font-size:inherit;
        display: inline-block;
    }
    </style>
</head>
<body>
    <div class="container-fluid background p-0">
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="/explore">
            {% load static %}
              <img src="{% static 'first_app/images/globe_trans.png' %}" width="60" height="60" alt="YouGive Logo">
              YouGive
            </a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/explore">Explore</a>
                </li>
                {% if 'user_id' in request.session %}
                {% if request.session.user_level == 1 %}
                <li class="nav-item active">
                    <a class="nav-link" href="/admin/users">Admin <span class="sr-only">(current)</span></a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="/checkout">My Cart</a>
                </li>
                {% if 'user_id' in request.session %}
                <li class="nav-item">
                    <a class="nav-link disabled" href="/logout">Logout</a>
                </li>
                {% else %}
                <li class="navbar-text text-right">
                    <a href="/register">Login/Register</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        <nav class="margin" aria-label="Switch between admin modes">
            <ul class="pagination justify-content-center">
                <li class="page-item active">
                <a class="page-link" href="/admin/users" tabindex="-1">Users<span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item">
                <a class="page-link" href="/admin/causes">Causes</a>
                </li>
            </ul>
        </nav>
        <div class="button">
            <a class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenter">Add User</a><br>
        </div>
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Add User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/adduser" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleInputEmail1">First Name:</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="First name" name="first_name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Last Name:</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Last name" name="last_name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email:</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" name="email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Level</label>
                            <select class="form-control" id="exampleFormControlSelect1" name="user_level">
                                <option value="0">User</option>
                                <option value="1">Admin</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </form>
                </div>
                </div>
            </div>
        </div>
        <div class="margin-sides">
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Level</th>
                    <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{user.first_name}}</td>
                        <td>{{user.last_name}}</td>
                        <td>{{user.email}}</td>
                        {% if user.user_level == 1 %}
                        <td>Admin</td>
                        {% else %}
                        <td>User</td>
                        {% endif %}
                        <td>
                            <a href="" data-toggle="modal" data-target="#exampleModalEdit{{user.id}}" class="btn-link">Edit</a>
                            <form action="/deleteuser" method="post">
                                {% csrf_token %}
                                <button type="submit" name="user_id" value="{{user.id}}" class="btn-link">Delete</button>
                            </form>
                        </td>
                    </tr>
                    <div class="modal fade" id="exampleModalEdit{{user.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalCenterTitle">Edit User</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="/updateuser" method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">First Name:</label>
                                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="first_name" value="{{user.first_name}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Last Name:</label>
                                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="last_name" value="{{user.last_name}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Email:</label>
                                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" value="{{user.email}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleFormControlSelect1">Level</label>
                                            <select class="form-control" id="exampleFormControlSelect1" name="user_level">
                                                <option value="0">User</option>
                                                <option value="1">Admin</option>
                                            </select>
                                        </div>
                                        <input type="hidden" name="user_id" value="{{user.id}}">
                                        <button type="submit" class="btn btn-primary">Update</button>
                                    </form>
                                </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
</body>
</html>