<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <title>YouGive | Charity Profile</title>
    <style>
    .background {
        background: linear-gradient(to bottom right, #0970C0, #00AD9D)
    }
    .go-back {
        color: darkgray;
        margin: 20px;
    }
    .inline-b {
        display: inline-block;
        vertical-align: top;
    }
    .card {
        margin: 20px 0px 0px 50px;
    }
    .navbar {
        margin-bottom: 10px;
    }
    .description {
        width: 65%;
        margin: 50px;
    }
    .italic {
        font-style: italic;
    }
    .bottom {
        text-align: center;
    }
    .charity-logo {
        width: 175px;
        height: 175px;
        margin: 50px 0px;
    }
    </style>
</head>
<body>
    <div class='container-fluid background p-0'>
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="/explore">
            {% load static %}
                <img src="{% static 'first_app/images/globe_trans.png' %}" width="60" height="60" alt="YouGive Logo">
                YouGive
            </a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/explore">Explore</a>
                </li>
                {% if 'user_id' in request.session %}
                {% if request.session.user_level == 1 %}
                <li class="nav-item">
                    <a class="nav-link" href="/admin/users">Admin</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="/checkout">My Cart</a>
                </li>
                {% if 'user_id' in request.session %}
                <li class="nav-item">
                    <a class="nav-link disabled" href="/logout">Logout</a>
                </li>
                {% else %}
                <li class="navbar-text text-right">
                    <a href="/register">Login/Register</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {%for message in messages%}
            {%if 'wishlist' in message.tags%}
                <p class="alert-success">{{message}}</p>
            {%endif%}
        {%endfor%}
        <div class="inline-b">
            <a href="/explore" class="go-back">Go Back</a>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'first_app/upload/'%}{{cause.logo_img}}" alt="gfa logo">
                <div class="card-body">
                    <form action="/charity/{{cause.id}}/give" method="POST">
                            {% csrf_token %}
                            <label for="amount">$</label>
                            <input class="col-sm-3 rounded" type="number" min="1.00" step="1.00" name="amount" value="10">
                            <input type="submit" class="btn btn-sm btn-primary shadow rounded" value="Give Now">
                            <input type="hidden" name="source" value="charity">
                    </form>
                    {% if 'user_id' in request.session %}
                    <a href="/addtowishlist/{{cause.id}}" class="btn btn-secondary">Add to Wishlist</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="inline-b description">
            <h1>{{cause.name}}</h1>
            <h4 class="italic">Description</h4>
            <p>{{cause.desc}}</p>
        </div>
        <div class="bottom">
            <h2>Similar Organizations</h2>
            <div class="row">
                <div class="col-sm">
                    <img class="charity-logo" src="{% static 'first_app/images/charity1-logo.jpg' %}" alt="charity logo">
                </div>
                <div class="col-sm">
                    <img class="charity-logo" src="{% static 'first_app/images/charity2-logo.png' %}" alt="charity logo">
                </div>
                <div class="col-sm">
                    <img class="charity-logo" src="{% static 'first_app/images/charity3-logo.jpg' %}" alt="charity logo">
                </div>
                <div class="col-sm">
                    <img class="charity-logo" src="{% static 'first_app/images/charity4-logo.png' %}" alt="charity logo">
                </div>
                <div class="col-sm">
                    <img class="charity-logo" src="{% static 'first_app/images/charity5-logo.png' %}" alt="charity logo">
                </div>
            </div>
        </div>
    </div>
</body>
</html>