<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <title>YouGive | Explore</title>
    <style>
    /* * {
        outline: 2px dotted pink;
    } */
    .slidefont {
        text-shadow: 2px 2px black;
    }
    .background {
        background: linear-gradient(to bottom right, #0970C0, #00AD9D)
    }
    .margin {
        margin: 20px;
    }
    .carousel {
        margin-bottom: 20px;
    }
    .categories {
        width: 70%;
        border-radius: 5px;
        padding: 15px;
        display: inline-block;
        vertical-align: top;
    }
    .centered {
        text-align: center;
    }
    .inline-b {
        display: inline-block;
        vertical-align: top;
    }
    .green {
        color: #00AD9D;
    }
    .blue {
        color: #0970C0;
        font-weight: bold;
        /* text-decoration: underline; */
    }
    </style>
</head>
<body>
    <div class='container-fluid background p-0 pb-3'>
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="/explore">
            {% load static %}
              <img src="{% static 'first_app/images/globe_trans.png' %}" width="60" height="60" alt="YouGive Logo">
              YouGive
            </a>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/explore">Explore <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/users">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/1">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">My Cart</a>
                </li>
                <li class="navbar-text text-right">
                    <a href="/">Logout</a>
                </li>
            </ul>
        </nav>
        <div class='centered'>
            <div id="carouselExampleIndicators" class="slide-size carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        {% load static %}
                        <a href="/charity">
                            <img class="d-block w-100" src="{% static 'first_app/images/ijm-1.jpg' %}" alt="First slide">
                        </a>
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class='slidefont'>International Justice Mission</h5>
                            <p class='slidefont'>"We know where people are enslaved and we have a plan to rescue them."</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <a href="/charity">
                            <img class="d-block w-100" src="{% static 'first_app/images/worldvision-1.jpg' %}" alt="Second slide">
                        </a>
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class='slidefont'>World Vision</h5>
                            <p class='slidefont'>"Empowering people out of poverty. For real. For Good. For the past 65 years."</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <a href="/charity">
                            <img class="d-block w-100" src="{% static 'first_app/images/compassion-1.jpg' %}" alt="Third slide">
                        </a>
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class='slidefont'>Compassion International</h5>
                            <p class='slidefont'>"The world's leading authority in holistic child development through sponsorship."</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="sidebar inline-b">
            <form class="margin form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <div class='categories margin shadow rounded bg-dark'>
                <p class="blue">Search by Revenue:</p>
                <a class='green' href=''>Less than $10M</a><br>
                <a class='green' href=''>$10M to $50M</a><br>
                <a class='green' href=''>More than $50M</a><br>
                <a class='green' href=''>...show all</a>
            </div>
        </div>
            <div class="inline-b card margin shadow rounded" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'first_app/images/gfa-logo.jpg' %}" alt="gfa logo">
                <div class="card-body">
                    <h5 class="card-title">Gospel for Asia</h5>
                    <p class="card-text">Gospel for Asia's mission statement.</p>
                    <a href="/charity" class="btn btn-primary">View</a>
                </div>
            </div>
            <div class="inline-b card margin shadow rounded" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'first_app/images/gfa-logo.jpg' %}" alt="gfa logo">
                <div class="card-body">
                    <h5 class="card-title">Gospel for Asia</h5>
                    <p class="card-text">Gospel for Asia's mission statement.</p>
                    <a href="/charity" class="btn btn-primary">View</a>
                </div>
            </div>
            <div class="inline-b card margin shadow rounded" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'first_app/images/gfa-logo.jpg' %}" alt="gfa logo">
                <div class="card-body">
                    <h5 class="card-title">Gospel for Asia</h5>
                    <p class="card-text">Gospel for Asia's mission statement.</p>
                    <a href="/charity" class="btn btn-primary">View</a>
                </div>
            </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
</body>
</html>