<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <title>YouGive | Tax Statement</title>
    <style>
    /* * {
        outline: 2px dotted pink;
    } */
    .cushion {
        margin-top: 10px;
    }
    .centered {
        text-align: center;
    }
    .inline-b {
        display: inline-block;
        vertical-align: top;
    }
    .header {
        text-align: center;
        width: 650px;
        vertical-align:bottom;
    }
    .bold {
        font-weight: bold;
        margin: 0px;
    }
    </style>
</head>
<body>
    <div class="container-fluid">
        {% load static %}
        <div class="container">
            <a class="cushion" href="/dashboard">Go Back</a><br>
        <img class="inline-b" src="{% static 'first_app/images/sqaure_v2_trans.png' %}" width="250" height="250" alt="YouGive Logo">
        <div class="inline-b header">
            <h1>YouGive</h1>
            <h4>555 Giving Way</h4>
            <h4>Charity City, CA, 91234</h4>
        </div>
        <p class="bold">Annual Charitable Cash Contributions</p>
        <p class="bold">Donor: {{user.first_name}} {{user.last_name}}</p>
        <p class="bold">Date: {{now | date:"SHORT_DATE_FORMAT"}}</p>
        <br>
        <p>This statement contains a record of voluntary contributions to YouGive made by {{user.first_name}} {{user.last_name}} during the {{now | date:"Y"}} year.  No goods or services were provided by YouGive in return for these contributions. All contributions listed below are fully tax-deductible.  Please consult your tax advisor for further details.</p>
        <p>Thank you for your generous gifts!</p>
        <p>Sincerely,</p>
        <p>YouGive Team</p>
        <table class="table">
            <thead>
                <tr>
                <th scope="col">Cause</th>
                <th scope="col">Date</th>
                <th scope="col">Amount (USD)</th>
                </tr>
            </thead>
            <tbody>
                {%for donation in user.donations.all%}
                    <tr>
                        <td>{{donation.cause.name}}</td>
                        <td>{{donation.created_at}}</td>
                        <td>{{donation.amount}}</td>
                    </tr>
                {%endfor%}
                <tr>
                <td class="bold">All Causes</td>
                <td class="bold">Total in 2018</td>
                <td class="bold">{{user_donation.amount__sum}}</td>
                </tr>
            </tbody>
        </table>
        </div>
        
    </div>
</body>
</html>