<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
        <style>
            .background {
                background: linear-gradient(to bottom right, #0970C0, #00AD9D)
            }
        </style>
        <title>YouGive | Profile</title>
    </head>
    <body>
        <div class="container-fluid mx-auto p-0 pb-3 background">
            <nav class="navbar navbar-light bg-dark">
                <a class="navbar-brand" href="/">
                {% load static %}
                    <img src="{% static 'first_app/images/globe_trans.png' %}" width="60" height="60" alt="YouGive Logo">
                </a>
            </nav>
            <div class="row ml-5 mr-3 mt-3">
                <div class="col-md-3 mr-5">
                    <div class="ml-5" style="width: 270px; height:270px;">
                        <img class="w-100 ml-3 border border-dark rounded-circle" src="{% static "first_app/images/placeholder-profile.png" %}" alt="User Profile"/>
                    </div>
                    <h6 class="text-center m-0">@username <a href="#"><i class="material-icons md-12">add_a_photo</i></a></h6>
                    <h4 class="text-center m-3">Badges</h4>
                    <div class="text-center">
                        <i class="material-icons">bookmark</i>
                        <i class="material-icons">bookmark</i>
                        <i class="material-icons">bookmark_border</i>
                        <i class="material-icons">bookmark_border</i>
                        <i class="material-icons">bookmark_border</i>
                    </div>
                    <div class="bg-light border border-1 shadow rounded p-3 mt-5">
                        <h4 class="text-center m-3">Groups</h4>
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-active-tab" data-toggle="tab" href="#nav-active" role="tab" aria-controls="nav-active" aria-selected="true">Active</a>
                                <a class="nav-item nav-link" id="nav-invites-tab" data-toggle="tab" href="#nav-invites" role="tab" aria-controls="nav-invites" aria-selected="false">Invites</a>
                                <a class="nav-item nav-link" id="nav-manage-tab" data-toggle="tab" href="#nav-manage" role="tab" aria-controls="nav-manage" aria-selected="false">Manage your Groups</a>
                            </div>
                            </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-active" role="tabpanel" aria-labelledby="nav-active-tab">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a data-toggle="modal" data-target="#activeModal">Contribute to World Vision!</a></li>
                                    <li class="list-group-item"><a data-toggle="modal" data-target="#activeModal">Group 2 Placeholder</a></li>
                                    <li class="list-group-item"><a data-toggle="modal" data-target="#activeModal">Group 3 Placeholder</a></li>
                                    <li class="list-group-item"><a data-toggle="modal" data-target="#activeModal">Group 4 Placeholder</a></li>
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="nav-invites" role="tabpanel" aria-labelledby="nav-invites-tab">Placeholder for accepting or declining group invitations</div>
                            <div class="tab-pane fade" id="nav-manage" role="tabpanel" aria-labelledby="nav-manage-tab">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a data-toggle="modal" data-target="#groupEditModal">Contribute to World Vision!</a></li>
                                    <li class="list-group-item"><a data-toggle="modal" data-target="#groupEditModal">Group 2 Placeholder</a></li>
                                </ul>
                                <a href="/addgroup" class="btn btn-primary mt-2">Create a group</a>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="activeModal" role="dialog">
                        <div class="modal-dialog">
                        
                            <!-- Modal content-->
                            <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Contribute to World Vision!</h4>
                                
                                
                            </div>
                            <div class="modal-body">
                                <h5>Collected $XX.XX as of today.</h5>
                                <div class="form-group">
                                    <label for="invite">Invite other YouGive members: </label>
                                    <select class="form-control col-sm-3" name="invite">
                                        <option active>member1</option>
                                        <option>member 2</option>
                                        <option>member 3</option>
                                        <option>member 4</option>
                                    </select>
                                    <a href="/invite" class="btn btn-sm btn-primary mt-2 shadow rounded">Invite</a>
                                </div>
                                <table class="table table-borderless">
                                    <tbody>
                                        <tr>
                                            <td>Goal: $XXX.XX</td>
                                            <td>Organization: World Vision</td>
                                        </tr>
                                        <tr>
                                            <td>Target date: XX-XX-XXXX</td>
                                        </tr>
                                        <tr>Contributers: </tr>
                                        <tr><div class="border border-1 p-3" style="height:180px;overflow-y: scroll;">
                                            <p class="text-success">User 1 contributed $ X.XX</p>
                                            <p class="text-success">User 2 contributed $ XX.XX</p>
                                            <p class="text-success">User 3 contributed $ XXX.XX</p>
                                            <p class="text-success">User 4 contributed $ X.XX</p>
                                            <p class="text-success">User 5 contributed $ XXX.XX</p>
                                            <p class="text-success">User 6 contributed $ XX.XX</p>
                                            <p class="text-success">User 7 contributed $ XX.XX</p>
                                        </div></tr>
                                    </tbody>
                                </table>
                                <form>
                                    <div class="form-group">
                                        <label for="amount">Amount: $</label>
                                        <input class="col-sm-2 rounded" type="text" name="amount" value="10">
                                        <input type="submit" class="btn btn-sm btn-success shadow rounded" value="Contribute">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="modal fade" id="groupEditModal" role="dialog">
                        <div class="modal-dialog">
                        
                            <!-- Modal content-->
                            <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Contribute to World Vision!</h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                <table class="table table-borderless">
                                    <tbody>
                                        <tr>
                                            <td>Goal (USD):</td><td><input type="text" class="col-md-5 form-control" name="goal" value="XXX.XX"></td>
                                        </tr>
                                        <!-- <tr>
                                            <td>Organization: </td>
                                            <td>    <select class="form-control" name="org">
                                                    <option active>World Vision</option>
                                                    <option>Org 2</option>
                                                    <option>Org 3</option>
                                                    <option>Org 4</option>
                                                </select>
                                            </td>
                                        </tr> -->
                                        <tr>
                                            <td>Target date: </td><td><input class="form-control" type="date" value="XX-XX-XXXX"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                    <input type="submit" class="btn btn-sm btn-primary shadow rounded" value="Update">
                                </form>
                                
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="border border-1 shadow rounded bg-light p-3">
                        <h1 class="text-center">You Gave</h1>
                        <table class="table table-borderless m-5">
                            <tbody>
                                <tr>
                                    <td><h4>Lifetime Giving Amount: </h4></td><td><h4>$ XXX.XX</h4></td>
                                </tr>
                                <tr>
                                    <td><h4>YTD Giving Amount: </h4></td><td><h4>$ XXX.XX</h4></td>
                                </tr>
                                <tr>
                                    <td><h4>Lifetime Volunteering Hours: </h4></td><td><h4>XX.XX</h4></td>
                                </tr>
                                <tr>
                                    <td><h4>YTD Volunteering Hours: </h4></td><td><h4>XX.XX</h4></td>
                                </tr>
                            </tbody>
                        </table>
                        <a href='#' class="btn btn-primary">Tax Statements</a>
                    </div>
                    <h3 class="text-center mt-5">Your Portfolio</h3>
                    <div style="height:280px;overflow-y: scroll;">
                        <div class="card-deck m-2">
                            <div class="card shadow rounded">
                                <img class="card-img-top" src="{% static "first_app/images/world_vision_logo.jpg" %}" alt="World Vision">
                                <div class="card-body">
                                <h5 class="card-title">World Vision</h5>
                                <p class="card-text">You donated $ XX.XX on 2017-08-20</p>
                                </div>
                            </div>
                            <div class="card shadow rounded">
                                <img class="card-img-top" src="{% static "first_app/images/make_a_wish_logo.png" %}" alt="Make a Wish">
                                <div class="card-body">
                                <h5 class="card-title">Make a Wish</h5>
                                <p class="card-text">You donated $ XX.XX on 2017-04-12</p>
                                </div>
                            </div>
                            <div class="card shadow rounded">
                                <img class="card-img-top" src="{% static "first_app/images/arc_logo.jpg" %}" alt="American Red cross">
                                <div class="card-body">
                                <h5 class="card-title">American Red Cross</h5>
                                <p class="card-text">You donated $ XX.XX on 2017-07-10</p>
                                </div>
                            </div>
                            <div class="card shadow rounded">
                                <img class="card-img-top" src="{% static "first_app/images/global_giving_logo.png" %}" alt="Global Giving">
                                <div class="card-body">
                                <h5 class="card-title">Global Giving</h5>
                                <p class="card-text">You donated $ XX.XX on 2017-01-26</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-deck m-2">
                            <div class="card shadow rounded">
                                <img class="card-img-top" src="{% static "first_app/images/make_a_wish_logo.png" %}" alt="Make a Wish">
                                <div class="card-body">
                                    <h5 class="card-title">Make a Wish</h5>
                                    <p class="card-text">You donated $ XX.XX on 2017-04-12</p>
                                </div>
                            </div>
                            <div class="card shadow rounded">
                                <img class="card-img-top" src="{% static "first_app/images/world_vision_logo.jpg" %}" alt="World Vision">
                                <div class="card-body">
                                <h5 class="card-title">World Vision</h5>
                                <p class="card-text">You donated $ XX.XX on 2017-08-20</p>
                                </div>
                            </div>
                            <div class="card shadow rounded">
                                <img class="card-img-top" src="{% static "first_app/images/global_giving_logo.png" %}" alt="Global Giving">
                                <div class="card-body">
                                    <h5 class="card-title">Global Giving</h5>
                                    <p class="card-text">You donated $ XX.XX on 2017-01-26</p>
                                </div>
                            </div>
                            <div class="card shadow rounded">
                                <img class="card-img-top" src="{% static "first_app/images/arc_logo.jpg" %}" alt="American Red cross">
                                <div class="card-body">
                                <h5 class="card-title">American Red Cross</h5>
                                <p class="card-text">You donated $ XX.XX on 2017-07-10</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>